@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #efefef;
}
input {
    border-radius: 5px;
    border-style: solid;
    padding: 3px;
}
.input-text {
    text-align: center;
    padding-top: 20px;
    margin: 0;
    background-color: #ffffff;
}
.input-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.input {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #ddd;
}
#name {
    width: 400px;
}
#date {
    width: 150px;
    margin: 0 10px;
}
#button--add {
    width: 50px;
}
.hidden {
    display: none!important;
}
.error-container {
    background-color: #c3c3c3;
    box-shadow: 5px 5px 5px #ddd;
}
.error-container__message {
    font-weight: 700;
    text-align: center;
    margin: 3px;
    color: #530000;
}

.content {
    margin-bottom: 80px;
}
.task-container {
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 15px auto 0;
    background-color: #ffffff;
    border-radius: 10px;
}
.task-container__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.task__name {
    max-width: 400px;
    overflow-wrap: break-word;
    font-weight: 700;
    margin: 0;
}
.task-container__buttons {
    display: flex;
    align-items: center;
}
.task__deadline {
    margin: 0;
}
.task-button--edit, .task-button--delete {
    height: 20px;
    margin-right: 5px;
}
.task__name--edit {
    width: 400px;
    overflow-wrap: break-word;
}
.task__deadline--edit {
    width: 150px;
    margin-top: 5px;
}
.task-button--check {
    width: 20px;
    height: 20px;
    margin: 0;
}
